body {
    font-family: 'Proza Libre', sans-serif;
    font-size: 18px;
}

.pb_banner {
    position: relative;
    height: auto;
    background: #f3feff;
}

.pb_cover_v1 {
    height: auto;
    padding: 0;
}

.slick-dots li button {
    margin-top: -50px;
    width: 15px;
    height: 15px;
}

.slick-dots li.slick-active button:before {
    background: white;
    width: 15px;
    height: 15px;
}

.slick-dots li button:before {
    width: 15px;
    height: 15px;
}

.slick-next {
    right: 20px;
    border: none !important;
}

.slick-prev {
    left: 20px;
    border: none !important;
}

.slick-prev:before, .slick-next:before {
    font-size: 50px;
}

.pb_section, .pb_footer {
    background-color: #f3feff;
}

.pb_navbar.scrolled.pb_scrolled-light {
    background: #033163 !important;
}

.pb_footer {
    background: #033163 !important;
}

.cover-bg-ricefield {
    background-color: rgb(245, 255, 238);
}

.pb_navbar {
    font-family: 'Proza Libre', sans-serif;
}

.pb_navbar ul li a {
    font-size: 14px !important;
}

.pb_navbar .nav-link {
    text-align: center;
}

.pb_footer a {
    color: white !important;
}

.pb_navbar.scrolled.pb_scrolled-light ul li a {
    color: white !important;
}

.pb_navbar.scrolled.pb_scrolled-light ul li a.active {
    color: white !important;
    font-weight: bold;
}

.pb_navbar.scrolled.pb_scrolled-light ul li a:hover, .pb_navbar.scrolled.pb_scrolled-light ul li a:active, .pb_navbar.scrolled.pb_scrolled-light ul li a:focus {
    color: #c0e9ef !important;
}

.pb_navbar.scrolled .navbar-toggler {
    color: white;
}

.pb_services {
    text-transform: uppercase;
    color: black;
}

.testimonial_v1 blockquote {
    font-family: 'Proza Libre', sans-serif;
}

/* INSTAGRAM SECTION */
#section-instagram .row {
    padding: 3em 0;
}

.instagram-picture {
    padding-top: 15px;
    padding-bottom: 15px;
}

.pb_footer {
    padding: 3.5em 0;
}

@media (min-width: 767px) {
    #testi {
        height: 600px;
        font-size: 16px;
}
}

@media (min-width: 991px) {
    #testi {
        height: 450px;
}
}

@media (min-width: 1200px) {
    #testi {
        height: 500px;
        font-size: 18px;
        padding: 0 30px;
}
}

@media (max-width: 767px) {
    .pb_md_py_cover {
        padding: 4em 0;
    }

    #section-instagram .row {
        padding-left: 20px;
        padding-right: 20px;
    }

    .instagram-picture {
        padding: 10px;
    }

    .pb_cover_v1 > .container > .row {
        padding: 6em 0 0 0;
    }
}

#section-events {
    background-color: rgb(245, 255, 238);
}

.card-deck .card .card-body {
    background-color: #fffdfb;
}

#openinghours p {
    font-size: 20px;
}